<?xml version="1.0" encoding="utf-8" ?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
	<group android:checkableBehavior="single">
		<item
		  android:id="@+id/menucat_cat1"
		  android:title="categoria1" />
		<!--android:icon="@drawable/ic_event"-->

		<item
		  android:id="@+id/menucat_cat2"
		  android:title="categoria2" />
		<!--android:icon="@drawable/ic_headset"-->

		<item
		  android:id="@+id/menucat_cat3"
		  android:title="categoria3" />
		<!--android:icon="@drawable/ic_forum"-->

		<item
			android:id="@+id/menucat_cat4"/>
			android:title="cateogria4"
			
	</group>
</menu>